.App {
  text-align: center;
  background-image: linear-gradient(#71b18c, #71b18c, #71b08b, #6ba885, #66a07e);
}

.App-link {
  color: #61dafb;
}

.container::-webkit-scrollbar {
  width: 5px;
}
.container::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background-image: url("./landing.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.responsive {
  height: 100%;
}
.full-width {
  height: 100%;
  flex: 1;
}
.landing {
  height: auto;
  width: 100%;
}
