.App {
  text-align: center;
  background-image: linear-gradient(#71b18c, #71b18c, #71b08b, #6ba885, #66a07e);
}

.App-link {
  color: #61dafb;
}

.container::-webkit-scrollbar {
  width: 5px;
}
.container::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background-image: url("./landing.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.responsive {
  height: 100%;
}
.full-width {
  height: 100%;
  flex: 1;
}
.landing {
  height: auto;
  width: 100%;
}
.contact {
  width: 323px;
  height: 69px;
  cursor: pointer;
  position: fixed;
  top: 36px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .container {
      background-size: cover;
    }
    .contact {
      height: 114px;
    }
}
