.App {
  text-align: center;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

.container::-webkit-scrollbar {
  width: 5px;
}
.container::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.container {
  background-color: #71b18c;
  display: flex;
  flex-wrap: wrap;
}
.row {
  background-color: #71b18c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.responsive {
  height: auto;
}
.full-width {
  height: 100%;
  flex: 1;
}
